body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background: rgb(238, 236, 236); */
  /* background: #5ff0d8; */
  /* color: white; */
  text-align: center;
  -ms-overflow-style: none;
}

/* WRAPPER */
.cert-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.cert-wrapper.show {
  opacity: 1;
  transform: translateY(0);
}

/* CONTAINER */
.cert-container {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  position: relative;

  display: flex;
  justify-content: center;   /* center horizontal */
  align-items: center;
}

/* TRACK */
.cert-track {
  display: flex;
  gap: 20px;
  width: max-content;
  color: black;
}

/* IMAGE */
.cert-track img {
  width: 90vw;        /* hampir full layar */
  max-width: 300px;   /* batas biar gak kegedean di PC */
  height: 390px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  border: 1px solid white;
}

/* HOVER EFFECT */
.cert-track img:hover {
  transform: none;
}


/* HILANGKAN SCROLLBAR TAPI MASIH BISA SCROLL */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

.section {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: grey;
}

.section h2 {
  margin-left: 29px;
  width: 93%;
  padding: 1px 20px;
  /* background: black; */
  /* border-bottom: 5px solid rgb(201, 9, 9); */
}

.section ul li {
  padding: 0px 120px;
  color: black;
  margin-left: 10px;
  text-align: center;
  text-align: justify;
  hyphens: auto;
  padding-left: 10px;
}


/* ---------- KONTROL ------------ */
/* SCREEN RESPONSIVE HP            */
/* =============================== */
@media (max-width: 768px) {
  body {
    background: rgb(220, 220, 223);
  }

  .cert-container {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;   /* center horizontal */
    align-items: center;
  }

  .section h2 { /* untuk pengaturan gars */
    /* margin-left: 29px; */
    max-width: 85%;
    width: auto;
    padding: 5px 20px;
    background: black;
    /* border-bottom: 5px solid rgb(37, 37, 37); */
    font-size: .8rem;
    color: rgb(253, 253, 22);
  }

  .section ul {
    width: 100%;
    /* padding: 0 130px; */
    margin-left: 0px;
    text-align: left;
    text-align: justify;
    hyphens: auto;
  }

  .section li {
    width:100%;
    padding:8px 15px;
    box-sizing:border-box;
    font-size: 1rem;
    hyphens: auto;
    margin-left: 10px;
    
  }

  h2 {
    /* background: rgb(151, 78, 78); */
    margin-left: 5px;
    max-width: 98.5%;
    width: auto;
    color: black;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
  }

  /* IMAGE */
  .cert-track img {
    width: 90vw;        /* hampir full layar */
    max-width: 170px;   /* batas biar gak kegedean di PC */
    height: 200px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(200,100,0,0.5);
    border: 1px solid rgb(231, 7, 7);
  }

  .section {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    margin: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* margin-left: 10px; */
    border-radius: 15px;
  }

  .line-1 {
    border: none;
    height: 2px;
    background: #143d77;
    /* margin: 20px 0; */
  }
}