body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg,
  red,
  grey,
  blue
  );
  /* background: rgb(153, 180, 34); */
  text-align: center;
  -ms-overflow-style: none;
}

/* WRAPPER */
.cert-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  
}

.cert-wrapper.show {
  opacity: 1;
  transform: translateY(0);
}

/* CONTAINER */
.cert-container {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}


/* TRACK */
.cert-track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  color: whitesmoke;
  box-sizing: border-box;
}

.certify h2 {
  color: white;
}

/* IMAGE */
.cert-track img {
  width: 150px;
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.377);
}

/* HOVER EFFECT */
.cert-track img:hover {
  transform: none;
}


/* HILANGKAN SCROLLBAR TAPI MASIH BISA SCROLL */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

.section {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: grey;
  /* background: red; */
}

.section h2 {
  margin-left: 29px;
  width: 93%;
  padding: 1px 20px;
  background: black;
  /* border-bottom: 5px solid rgb(201, 9, 9); */
}

.section ul li {
  padding: 0px 120px;
  color: rgb(223, 219, 219);
  margin-left: 10px;
  text-align: center;
  text-align: justify;
  hyphens: auto;
  padding-left: 10px;
  /* background: white; */
}






/* ---------- KONTROL ------------ */
/* SCREEN RESPONSIVE HP            */
/* =============================== */
@media (max-width: 768px) {
  body {
    margin: 0;
    width: 100%;
    background: linear-gradient(90deg,
    red,
    grey,
    blue,
    white
    );
  }

  .cert-container {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section h2 { 
    max-width: 85%;
    width: auto;
    padding: 5px 20px;
    background: black;
    font-size: .9rem;
    color: rgb(253, 253, 22);
  }

  /* .section ul {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
} */

  .section ul {
    width: 100%;
    margin-left: 0px;
    text-align: left;
    text-align: justify;
    hyphens: auto;
  }

  /* .section li {
  width: 100%;
  margin: 0;
  padding: 8px 5px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
} */

  .section li {
    width:100%;
    padding:8px 15px;
    box-sizing:border-box;
    font-size: 1rem;
    hyphens: auto;
    margin-left: 10px;
  }

  h2 {
    margin-left: 5px;
    max-width: 100%;
    width: auto;
    color: rgb(119, 42, 42);
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
  }

  .certify h2 {
    color:rgb(248, 168, 110);
  }
  
  .section {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    margin: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
  }

  .section ul li {
    color: white;
  }

  .line-1 {
    border: none;
    height: 3px;
    background: #868686;
  }

}