body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(79, 97, 1);
  text-align: center;
  -ms-overflow-style: none;
}

/* WRAPPER */
.cert-wrapper {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  
}

.cert-wrapper.show {
  opacity: 1;
  transform: translateY(0);
}

/* CONTAINER */
.cert-container {
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  position: relative;

  display: flex;
  justify-content: center;   /* center horizontal */
  align-items: center;
  
}

/* TRACK */
.cert-track {
  display: flex;
  gap: 20px;
  /* width: max-content; */
  /* color: black; */
  color: whitesmoke;
}

.certify h2 {
  color: white;
}

/* IMAGE */
.cert-track img {
  width: 150px;        /* hampir full layar */
  max-width: 200px;   /* batas biar gak kegedean di PC */
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  border: 1px solid white;
}

/* HOVER EFFECT */
.cert-track img:hover {
  transform: none;
}


/* HILANGKAN SCROLLBAR TAPI MASIH BISA SCROLL */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

.section {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: grey;
  /* background: red; */
}

.section h2 {
  margin-left: 29px;
  width: 93%;
  padding: 1px 20px;
  background: black;
  /* border-bottom: 5px solid rgb(201, 9, 9); */
}

.section ul li {
  padding: 0px 120px;
  color: rgb(223, 219, 219);
  margin-left: 10px;
  text-align: center;
  text-align: justify;
  hyphens: auto;
  padding-left: 10px;
  /* background: white; */
}






/* ---------- KONTROL ------------ */
/* SCREEN RESPONSIVE HP            */
/* =============================== */
@media (max-width: 768px) {
  body {
    background: rgba(23, 94, 41, 0.925) !important;
  }

  .cert-container {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;   /* center horizontal */
    align-items: center;
  }

  .section h2 { /* untuk pengaturan gars */
    /* margin-left: 29px; */
    max-width: 85%;
    width: auto;
    padding: 5px 20px;
    background: black;
    /* border-bottom: 5px solid rgb(37, 37, 37); */
    font-size: .9rem;
    color: rgb(253, 253, 22);
  }

  .section ul {
    width: 100%;
    margin-left: 0px;
    text-align: left;
    text-align: justify;
    hyphens: auto;
  }

  .section li {
    width:100%;
    padding:8px 15px;
    box-sizing:border-box;
    font-size: 1rem;
    hyphens: auto;
    margin-left: 10px;
  }

  h2 {
    /* background: rgb(151, 78, 78); */
    margin-left: 5px;
    max-width: 100%;
    width: auto;
    color: rgb(119, 42, 42);
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
  }

  .certify h2 {
    color:rgb(248, 168, 110);
  }
  
  /* IMAGE */
  .cert-track img {
    width: 120px;        /* hampir full layar */
    max-width: 170px;   /* batas biar gak kegedean di PC */
    height: 180px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(200,100,0,0.5);
    border: 1px solid rgba(231, 7, 7, 0.562);
  }

  .section {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    margin: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
  }

  .section ul li {
    color: white;
  }

  .line-1 {
    border: none;
    height: 3px;
    background: #868686;
    /* margin: 20px 0; */
  }
}